# === C++ Build Artifacts ===
*.o
*.a
*.out
*.exe
*.so
*.dll
*.lib


# === CMake (The "Big Three" to keep root clean) ===
/build/               
CMakeCache.txt       
CMakeFiles/        

/perf.data

# === Developer Tooling (Essential for Neovim) ===
compile_commands.json  
.clang-format         
.cache/           

# === Neovim Temporary Files ===
*.swp
*.swo
*~
*.bak
.netrwhist


build/
cmake-build-*/

CMakeFiles/
cmake_install.cmake
Makefile

#project specific
Monte-Carlo-Engine/build/
Monte-Carlo-Engine/cmake-build-*/

.vscode/
.DS_Store

test

